---
---

@import "minima";

/* Widen the main content area */
.wrapper {
  max-width: 1100px;
}

/* Optional: give tables more breathing room */
table {
  width: 100%;
}
.page-content {
  font-size: 18px;
}
